.App {
  text-align: center;
  margin: auto !important;
  padding: 40px;
  width: 950px;
}

.search-input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid;
  border-color: #bebdbb;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
}
.ant-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0px !important;
}
